
.innerContainer{
    display: flex;

    &__left{
        width: 50%;
        
        .contactForm{

            background: #eee;
            &__input{
                font-size: 1.3rem;
                border: none;
            }

            .sendBtn{
                background: $logo-color;
                color: rgba(255,255,255, 0.8);

                &:hover{
                    color: white;
                }
            }
        }
        
    }

    &__right{
        width: 50%;
        margin-left: 5rem;
        .heading{

            &__contact{
                font-size: 2.4rem;
            }
            &__secondary{
                font-size: 1.6rem;
            }
        }

        .services{

            &__item{
                font-size: 1.3rem;
                color: $color-grey-dark;
            }
        }
    }
}



@media (max-width: 768px){
    .innerContainer{
        flex-direction: column;
        

        &__left{
            width: 100%;
            

        }   

        &__right{
            margin-left: 0;
            width: 100%;
            margin-top: 5rem;
        }
    }
}

@media (max-width: 600px){
    .innerContainer{

        &__left{
            width: 109%;
            margin-left: -5%;
        }
    }
}