
.footer{
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    background: $background-grey;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 1rem 2rem;
    
    &-icons{ 
        color: $color-grey-light;

        & i{
            margin: 0 0.5rem;
            font-size: 1.6rem;            
        }
    }

    &-copy{
        color: #777;
        font-family: 'Lato', sans-serif;
    }
}

@media (max-width: 768px){
    .footer{
        flex-direction: column;

        &-icons{
            margin: 1rem 0;
        }

        .fa{
            font-size: 2rem;
        }
    }
}