
.header{

    &__nav{
        background-color: $background-grey;
        // display: flex;
        // align-items: center;
        padding: 2rem 0;

    }

    &__logoContainer{
        display: flex;
        align-items:center;
        padding-left: 2rem;
    }

    &__logo{
        align-items: center;
        margin: 0;
        color: $logo-color;
        font-family: 'Noto Serif', serif;
        font-size: 22px;
        font-style: italic;

    }

    &__navlinks{
        list-style:none;
        display: flex;
        margin: 0;
        margin-left: 2rem;
    }

    &__navlink{
        margin: 0 1rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
         

        & .active{
            padding: 0.5rem 1.5rem;
            background:  $color-white;
            border-bottom: 1px solid $color-black;
        }
    }

    &__link{
        color: $link-color;
        
        &:hover{
            text-decoration: none;

        }
    }

    


    &__search{
        display: flex;
        margin-right: 2rem;
    }

    &__searchInput{
        padding: 0rem 1rem;
        font-size: 1.3rem;
        border: none;
        box-shadow: 0 0.2rem 2rem rgba(0,0,0,0.2);
        width: 60%;
        margin-left: auto;
    }

    &__button{
        border: none;
        padding: 0.5rem 1rem;
        background-color: $logo-color;
        color: $color-white;
        font-size: 1.3rem;
        font-weight: 200;
        text-transform: uppercase;
    }

}

.hamburger{
    color: $color-grey-light;
    margin-right: 2rem;
}

@media (max-width: 768px){
    .header__search{
        display: none;

        &--collapsible{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 4rem;
            margin-top: 10rem;
        }

        &Input--collapsible{
            width: 85%;
            margin: 0;
        
            
        }
    }

    .header__navlinks{
        display: none;

        &--collapsible{
            display: block;

            margin: 1rem 0;
            width: 100%;
        }
    }

    .header__navlink{
        margin: 3rem 0;
        width: 100%;
        text-align: center;

        & .active{
            padding: 0;
            border: none;
            padding: 2rem 0;
            box-shadow: 0 0.2rem 2rem rgba(0,0,0,0.1);
            display: block;
        }
    }

}

@media (min-width: 769px){
    .hamburger{
        display: none;
    }
}


.circle{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% ;
    margin: 0 0.5rem !important;
    
}