
@import "header";
@import "footer";


body{
    position: relative;
    min-height: 100vh;
    height: 100%;
}

.firstPara{

    &__heading{
        font-family: 'Noto Serif', serif;
    }

    &__text{
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        margin-top: 1rem;
        color: $color-grey-dark-1;
        
    }
}


.navContainer{
    // background:red;
    border-bottom: none;
}

.navItem{
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-bottom: none;

    &.active{ 
        border: 1px solid $color-grey-light-1;
        border-bottom: none;
        background: $color-grey-light-1;

    }

    & a{
        color: $color-grey-dark;
        &:hover{
            text-decoration: none;
        }
    }
}


.tab{
    margin-bottom: 3rem;
    &-image{
        width: 100%;
        height: 150px;
    }

    &-header{
        font-size: 1.6rem;
    }
    &-text{
        font-size: 1.3rem;
        margin-top: 1rem;
        color: $color-grey-dark-1;
    }

    //tab-pane
    &-pane{
        border: 1px solid $color-grey-light-1;
        background: $color-grey-light-1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

        &-container{
            padding: 3rem;
            display: flex;

            &__left{
                width: 30%;
            }
            &__right{
                width: 70%;
                padding: 0 2rem;

            }
        }
    }

    &-content{
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }
}


.cardBlock{

    &__heading{
        color: $logo-color;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    &__title{
        margin-top: -1rem;
        font-size: 2rem;
    }

    &__text{
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        color: $color-grey-dark-1;
        margin-bottom: 3rem;
    }

}




@media (max-width: 768px){
    .tabContainer{
        display: none;
    }
}