

.mainContainer{
    display: flex;
    flex-direction: column;
}

.cardsContainer{
    display:flex;
    justify-content: space-between;
}

.heading{
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    font-weight: 700;
}

.card{
    // width: 18rem;
    margin-top: 2rem;
    font-family: 'Lato', sans-serif;

    &-title{
        font-size: 1.6rem;
        font-weight: 600;
        margin: 1rem 0;
    }

    &-text{
        font-size: 1.3rem;
        font-weight: 600;
        color: $color-grey-dark-1
    }

    .btn{
        text-transform: uppercase;
        background: $logo-color;
        border:none;
        text-align: center;
        color: rgba(255,255,255,0.6);
        padding: 0.75rem 2.5rem;
        margin: 1rem 0;

        &:hover{
            color: white;
        }
    }
}


@media (max-width: 768px){
    .cardsContainer{
        flex-direction: column;
    }
}

@media (min-width: 769px){
    .card{
        width: 20rem;
    }
}

@media (min-width: 1000px){
    .card{
        width: 25rem;
    }
}
