
//colors
$background-grey: #F2F2F2;

$logo-color: #F22973;
$link-color: #848383;
$color-white: #fff;
$color-black: #000;

$color-grey-light: #aaa;
$color-grey-light-1: #eee;

$color-grey-dark: rgba(0,0,0,0.8);
$color-grey-dark-1: #666;




//fonts
//NATO SERIF
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&display=swap');
//font-family: 'Noto Serif', serif;


//LATO
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
//font-family: 'Lato', sans-serif;