@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

.header__nav {
  background-color: #F2F2F2;
  padding: 2rem 0; }

.header__logoContainer {
  display: flex;
  align-items: center;
  padding-left: 2rem; }

.header__logo {
  align-items: center;
  margin: 0;
  color: #F22973;
  font-family: 'Noto Serif', serif;
  font-size: 22px;
  font-style: italic; }

.header__navlinks {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 2rem; }

.header__navlink {
  margin: 0 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif; }
  .header__navlink .active {
    padding: 0.5rem 1.5rem;
    background: #fff;
    border-bottom: 1px solid #000; }

.header__link {
  color: #848383; }
  .header__link:hover {
    text-decoration: none; }

.header__search {
  display: flex;
  margin-right: 2rem; }

.header__searchInput {
  padding: 0rem 1rem;
  font-size: 1.3rem;
  border: none;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
  width: 60%;
  margin-left: auto; }

.header__button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #F22973;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  text-transform: uppercase; }

.hamburger {
  color: #aaa;
  margin-right: 2rem; }

@media (max-width: 768px) {
  .header__search {
    display: none; }
    .header__search--collapsible {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 4rem;
      margin-top: 10rem; }
    .header__searchInput--collapsible {
      width: 85%;
      margin: 0; }
  .header__navlinks {
    display: none; }
    .header__navlinks--collapsible {
      display: block;
      margin: 1rem 0;
      width: 100%; }
  .header__navlink {
    margin: 3rem 0;
    width: 100%;
    text-align: center; }
    .header__navlink .active {
      padding: 0;
      border: none;
      padding: 2rem 0;
      box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
      display: block; } }

@media (min-width: 769px) {
  .hamburger {
    display: none; } }

.circle {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  margin: 0 0.5rem !important; }

.footer {
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; }
  .footer-icons {
    color: #aaa; }
    .footer-icons i {
      margin: 0 0.5rem;
      font-size: 1.6rem; }
  .footer-copy {
    color: #777;
    font-family: 'Lato', sans-serif; }

@media (max-width: 768px) {
  .footer {
    flex-direction: column; }
    .footer-icons {
      margin: 1rem 0; }
    .footer .fa {
      font-size: 2rem; } }

body {
  position: relative;
  min-height: 100vh;
  height: 100%; }

.firstPara__heading {
  font-family: 'Noto Serif', serif; }

.firstPara__text {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #666; }

.navContainer {
  border-bottom: none; }

.navItem {
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-bottom: none; }
  .navItem.active {
    border: 1px solid #eee;
    border-bottom: none;
    background: #eee; }
  .navItem a {
    color: rgba(0, 0, 0, 0.8); }
    .navItem a:hover {
      text-decoration: none; }

.tab {
  margin-bottom: 3rem; }
  .tab-image {
    width: 100%;
    height: 150px; }
  .tab-header {
    font-size: 1.6rem; }
  .tab-text {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: #666; }
  .tab-pane {
    border: 1px solid #eee;
    background: #eee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
    .tab-pane-container {
      padding: 3rem;
      display: flex; }
      .tab-pane-container__left {
        width: 30%; }
      .tab-pane-container__right {
        width: 70%;
        padding: 0 2rem; }
  .tab-content {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.cardBlock__heading {
  color: #F22973;
  font-size: 1.3rem;
  text-transform: uppercase; }

.cardBlock__title {
  margin-top: -1rem;
  font-size: 2rem; }

.cardBlock__text {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  color: #666;
  margin-bottom: 3rem; }

@media (max-width: 768px) {
  .tabContainer {
    display: none; } }

.mainContainer {
  display: flex;
  flex-direction: column; }

.cardsContainer {
  display: flex;
  justify-content: space-between; }

.heading {
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  font-weight: 700; }

.card {
  margin-top: 2rem;
  font-family: 'Lato', sans-serif; }
  .card-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 0; }
  .card-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: #666; }
  .card .btn {
    text-transform: uppercase;
    background: #F22973;
    border: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 0.75rem 2.5rem;
    margin: 1rem 0; }
    .card .btn:hover {
      color: white; }

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column; } }

@media (min-width: 769px) {
  .card {
    width: 20rem; } }

@media (min-width: 1000px) {
  .card {
    width: 25rem; } }

.innerContainer {
  display: flex; }
  .innerContainer__left {
    width: 50%; }
    .innerContainer__left .contactForm {
      background: #eee; }
      .innerContainer__left .contactForm__input {
        font-size: 1.3rem;
        border: none; }
      .innerContainer__left .contactForm .sendBtn {
        background: #F22973;
        color: rgba(255, 255, 255, 0.8); }
        .innerContainer__left .contactForm .sendBtn:hover {
          color: white; }
  .innerContainer__right {
    width: 50%;
    margin-left: 5rem; }
    .innerContainer__right .heading__contact {
      font-size: 2.4rem; }
    .innerContainer__right .heading__secondary {
      font-size: 1.6rem; }
    .innerContainer__right .services__item {
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.8); }

@media (max-width: 768px) {
  .innerContainer {
    flex-direction: column; }
    .innerContainer__left {
      width: 100%; }
    .innerContainer__right {
      margin-left: 0;
      width: 100%;
      margin-top: 5rem; } }

@media (max-width: 600px) {
  .innerContainer__left {
    width: 109%;
    margin-left: -5%; } }
